/*body{
    border:solid pink;
}

#menu-alvin-main-menu{
    display:flex;
}

.inner{
    background-color: gray;
    color:white;
}

ul{
    list-style: none;
}
li{
    margin:1%;
}*/

.inputDiv{
    width:100;
    display: flex;
    justify-content: center;

    /*border:red solid;*/
}

.awesomplete{
    width: 100%;
}

.inputDiv input {
    width: 100%;
    height: 2em;
    border-radius: 0;
    border-style: none;
    box-shadow:.5px .5px .5px .5px #888888;
    padding: .5em;
   /* -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/
}

mark{
    background-color:#a3ccff !important;
    padding:0;
    margin:0;
}

#map{
    height: 400px;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}


/* When the input field gets focus, change its width to 100% */
/*input[type=text]:focus {
    width: 75%;
}*/