/*body{
	border:solid pink;
}

#menu-alvin-main-menu{
	display:flex;
}

.inner{
	background-color: gray;
	color:white;
}

ul{
	list-style: none;
}
li{
	margin:1%;
}*/

#map{
	height: 400px;
	width: 100%;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 80%;
}