{% extends "alvin.html" %}
{% block dynamic %}

<div class='container'>
	<h1>About Alvin</h1>

	<p>Alvin Healthcare is a subscription service for tele-access of doctors and nurses. Clients are usually those with a high insurance deductible or are otherwise uninsured. Alvin Healthcare approached us with a feature that they would like to see implemented on their site in the future. This app is a mockup to show potential investors of Alvin, and is ready to be scaled out. You can find out more about Alvin Healthcare at <a href=helloalvin.com>helloalvin.com</a>.<br><br></p>
</div>
{% endblock %}
