{% extends "alvin.html" %}
{% block dynamic %}

<div class='container'>
	<h1>Contact</h1>
	<h2>Lisa Gibson</h2>

	<a class="glyf-btn" href=
        "https://github.com/lgibson212" role="button" target="_blank"><i class=
        "fa fa-github" alt="GitHub"></i> <span>GitHub</span></a>

    <a class="glyf-btn" href=
        "https://www.linkedin.com/in/lisa-gibson/" role="button" target="_blank"><i class=
        "fa fa-linkedin-square" alt="LinkedIn"></i> <span> LinkedIn</span></a>

    <a class="glyf-btn" href=
        "mailto:elg78@cornell.edu" role="button" target="_blank"><i class=
        "fa fa-envelope" alt="Email"></i> <span> Email</span></a>

    <p><br>
	Lisa has a background in biomedical research and is looking to transition from fundamental research to the intersection of medicine and technology. Her experiences in research and clinical settings inform her of the need for programmers in the biotech space, and this is what motivated her to begin learning Python. Her ideal role would be developing creative software and web solutions to help scientists and clinicians do their jobs more efficiently and effectively.<br><br>
	</p>
	

	<h2>Vincent Chiodo</h2>

<br><br>
</div>

{% endblock %}
