<!DOCTYPE html>
<html lang="en">
	<head charset="utf-8">
		<title>ALVIN HEALTH</title>
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/style.css">
		<link rel="stylesheet" href="../static/style-HEADER.css">

	</head>
	<body>
		<div>
			<h1><a href="/"><p>WELCOME TO ALVIN</p></a></h1>
		</div>	
<div class="top_nav">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<div class="pull-left">
					<div id="text-4" class="widget widget_text">			
						<div class="textwidget">
							<a class="link-blank" href="mailto:info@helloalvin.com"><i class="fa fa-envelope-o"></i>info@helloalvin.com</a>
						</div>
					</div>
					<div id="text-5" class="widget widget_text">			
						<div class="textwidget">
							<a class="link-blank" href="tel:18444462584"><i class="fa fa-phone"></i>  1-844-446-2584</a>
						</div>
					</div>                    
				</div>
			</div>

			<div class="span6">
				<div class="pull-right">
				</div>
			</div>

		</div>
	</div>

</div>

	<div id="navigation">
		<nav>
			<ul id="menu-alvin-main-menu" class="menu simple_megemenu dl-menu">
				
				<li id="menu-item-8682" class="menu-item menu-item-type-post_type menu-item-object-page" data-bg=""><a href="https://helloalvin.com/how-it-works/">How It Works</a></li>
				<li id="menu-item-8660" class="menu-item menu-item-type-post_type menu-item-object-page" data-bg=""><a href="https://helloalvin.com/get-started/">Get Started</a></li>
				<li id="menu-item-8661" class="menu-item menu-item-type-post_type menu-item-object-page" data-bg=""><a href="https://helloalvin.com/about-alvin/">About Alvin</a></li>
				<li id="menu-item-8662" class="menu-item menu-item-type-custom menu-item-object-custom" data-bg=""><a href="https://helloalvin.com/login">Sign In</a></li>
				<li id="menu-item-8663" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6284 current_page_item" data-bg=""><a href="https://helloalvin.com/contact/">Contact</a></li>
				<li id="menu-item-8659" class="menu-item menu-item-type-custom menu-item-object-custom" data-bg=""><a href="https://helloalvin.com/activate-pin">Activate PIN</a></li>
			</ul>
		</nav>
	</div>

<!-- hellloooooooooo -->
<div>
	<script src="https://gist.github.com/lgibson212/54c45fdee464ad0fa6d707ac8626c96d.js"></script>
	<iframe src="https://www.google.com/maps/d/u/0/embed?mid=161fwYY69xR1ndyz-nq8p8PATZhM" width="640" height="480"></iframe>
</div>

<!-- <div class="wpcf7-response-output wpcf7-display-none">
	
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="fws_58daa1d64912d" class="wpb_row vc_row vc_row-fluid  animate_onoffset row-dynamic-el standard_section  wrap-box center  normal " style="">
<div id="wrap-box center" style="position: absolute;top: 0;">
	
</div>
<div class="container  dark">
<div class="section_clear">
<div class="wpb_column column_container with_padding wpb_column vc_column_container vc_col-sm-12">
<div class="vc_column-inner  " style="padding:" data-animation="none" data-delay="">
<div class="wpb_wrapper">
<h1 style="font-size: 48px;color: #eb5949;line-height: 70px;text-align: center" class="vc_custom_heading f-weight-semi-bold">Store Locator</h1>
<p style="font-size: 16px;color: #808080;line-height: 27px;text-align: center;font-family:Merriweather;font-weight:400;font-style:normal" class="vc_custom_heading">Find a store near you where you can purchase a Hello Alvin plan and card.</p>
</div>

</div>
</div>
</div>
</div>
</div>
<div id="fws_58daa1d649702" class="wpb_row vc_row vc_row-fluid  animate_onoffset row-dynamic-el full-width-content section-style    normal " style="margin-bottom: 0px;"><div style="position: absolute;top: 0;"></div><div class="col span_12  dark"><div class="wpb_column column_container with_padding wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner  " style="height: 70px;" data-animation="none" data-delay=""><div class="wpb_wrapper"></div></div></div><div class="wpb_column column_container with_padding wpb_column vc_column_container vc_col-sm-6" style="padding-bottom: 0px;"><div class="vc_column-inner  " style="height: 70px;" data-animation="none" data-delay=""><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="search-store width-300">
  <form onsubmit="searchStore(event)">
    <input type="text" name="zip" placeholder="Enter Zip code"><button type="submit">Search</button>
  </form>
</div>
		</div>
	</div>
</div></div></div></div></div><div id="fws_58daa1d649bca" class="wpb_row vc_row vc_row-fluid  animate_onoffset row-dynamic-el full-width-content section-style    normal " style="background-color: rgb(248, 248, 248); margin-top: 0px;"><div style="position: absolute;top: 0;"></div><div class="col span_12  light"><div class="wpb_column column_container with_padding wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner  " style="height: 550px;" data-animation="none" data-delay=""><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper"> -->






<!-- Footer -->
	<div class="footer_wrapper">
		<footer id="footer" class="">
			<div class="inner">
				<div class="container">
					<div class="row-fluid ff footer-columns-count-4">
						<!-- widget -->
												
						<div class="span3 footer-column-1 col-md-3 col-md-offset-1">
						
							<div id="nav_menu-5" class="widget widget_nav_menu "><h5 class="widget-title">More Info</h5>
								<div class=" megamenu_container">
									<ul id="menu-alvin-footer" class="menu simple_megemenu dl-menu">
										<li id="menu-item-8664" class="menu-item menu-item-type-post_type menu-item-object-page" data-bg=""><a href="https://helloalvin.com/about-alvin/">About Alvin</a></li>
										<li id="menu-item-8665" class="menu-item menu-item-type-post_type menu-item-object-page" data-bg=""><a href="https://helloalvin.com/blog/">Blog</a></li>
										<li id="menu-item-8666" class="menu-item menu-item-type-post_type menu-item-object-page" data-bg=""><a href="https://helloalvin.com/resellers/">Resell</a></li>
										<li id="menu-item-8668" class="menu-item menu-item-type-post_type menu-item-object-page" data-bg=""><a href="https://helloalvin.com/frequently-asked-questions/">FAQ</a></li>
										<li id="menu-item-8667" class="menu-item menu-item-type-post_type menu-item-object-page" data-bg=""><a href="https://helloalvin.com/for-businesses/">For Businesses</a></li>
									</ul>
								</div>
							</div>                                
						</div>
						
						<div class="span3 footer-column-3 col-md-3">
							<div id="text-12" class="widget widget_text"><h5 class="widget-title">Contact Us</h5>			
								<div class="textwidget">HEADQUARTERS <br>Alvin Healthcare™ (a unit  of Alvin Holdings LLC)
									<br>32 W 39th Street, 4th Floor<br>New York, NY 10018<br>
									<h5 class="widget-title"><a href="https://helloalvin.com/contact">
										<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Store Locator</a>
									</h5>
								</div>
							</div>              
						</div>
		
						<div class="span3 footer-column-2 col-md-2">

							<div id="text-13" class="widget widget_text">
								<div class="textwidget"><img src="./alvinMap_files/AlvinHealthcare_Logos-CoralGray.png" alt="helloalvin" style="height:50px">
								</div>
							</div>                                
						</div>
		
						<div class="span3 footer-column-4 col-md-2">
						</div>

					</div>
				</div>
			</div>
		</div>
			



</body>
</html>
