{% extends "alvin.html" %}
{% block dynamic %}
<div>
<center>

<!-- <form id="searchbar" method="GET"> -->
	<input type="text" name="search" placeholder="Search for Procedure..." id="searchInput">
	<input type="submit" id="searchSub" value="Submit">
<!-- </form> -->


<!-- <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-4702" method="post" data-id="4702" data-name="Sign Up for Free Weekly Healthcare Tips and News!"><div class="mc4wp-form-fields"><p class="subscribe-email-row">
	<input type="email" name="EMAIL" placeholder="Enter Email Address" required><input type="submit" value="Sign up"></p><div style="display: none;"><input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></div><input type="hidden" name="_mc4wp_timestamp" value="1490825783"><input type="hidden" name="_mc4wp_form_id" value="4702"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1"></div><div class="mc4wp-response"></div></form> -->


</center>

    
    <div id="map">

    </div>

</div>
{% endblock %}



{% block js %}
<!-- <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJbszY3_k6ENsxHwMaImdc_kKOjWKfb2w&callback=initMap"></script> -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJbszY3_k6ENsxHwMaImdc_kKOjWKfb2w&callback=initMap"></script>
<script src="../static/behavior.js"></script>
<!-- <script src='../static/gmaps.js'></script> -->


{% endblock %}



