{% extends "alvin.html" %}
{% block dynamic %}

<div class='container'>
	<h1>Sign In</h1>

	<p>There is a lack of platform that allows patients to look for cost effective solutions for medical services as prescribed by their doctors. Patients should be able to search for a requested procedure and the app should return facilities that provide that service. Patients would then be able to filter by location/distance, price, and rating; something that will be implemented in the future when more data is available.<br><br>Specfically, Alvin clients would also be able to log in and save their searches so they can easily return with their preferences stored.<br><br></p>
</div>
	
{% endblock %}